<div class="text-center">
    <h1>Edit Profile</h1>

    <%=render 'form'%>
    <%=button_to "Add/Edit Systems", new_system_user_path, method: :get%>
    <%=button_to "Back to My Games", user_path(@user), method: :get%>
    <br>
    <br>
    <br>
    <br>
    <%=button_to "Delete Account", user_path(@user), method: :delete, :id => "delete-button"%>
</div>
