<h1>Games</h1>


<% @games.each do |game|%>
    <div class="container">
        <div class="thumbnail">
            <%= image_tag  "#{game.image_url}" %>
            <%=link_to  "#{game.name}", game_path(game) %>
        </div>
        <div class="link"> 
            
        </div>
    </div>
<% end %>


