<div class="text-center">
  <h2><%= @system.name %></h2>

  <h5>Games</h5>

  <div class="container my-4">
    <div class="row">
        <% @system.games.each do |game|%>
            <div class="col-md-3" style="margin-bottom:15px;">
                <div id="sys_card"class="card h-100 bg-dark text-white">
                    <img id="sys_pic"class="card-img" src=<%= game.image_url %> alt="Card image">
                    <div class="card-img-overlay align-bottom">
                      <a class="text-light"href=<%= game_path(game) %>> <%= game.name %></a>
                    </div>
                </div>
            </div>
        <% end%>
    </div>
</div>




