// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image: url();
}


.container {
  text-align: center;
  margin: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr;

}